.image{
   
    background-image: url("Images/image nuage fleurs.jpeg");
    width: 100%;
    background-size: contain;
}

.header3{
    background-color:khaki;
    text-align: center;
    padding: 20px;
    border-style:dotted;
}
.titre{
    color: pink;
    text-align: center;
    font-size: 45px;
}

h1{
    font-family: fantasy;
}

.étoile{
    background-image : url("Images/stars.jpeg");
    width:100%;
    height:600px;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position:relative;
    border-radius:10px;
    margin-top:10px;
}    
.menu li{
    padding: 16px;
}

.elf{
    color:deeppink;
}  

.love{
    color:blueviolet;
}

.nature{
    color:crimson;
}

.activité{
    color:darkmagenta;
}

.inspirant{
    color:fuchsia;
}

.menu li:hover{
    background-color: bisque;
}

.contenu-deux{
    background-color:lavender;
    padding: 10px;
    text-align : center;
    border-radius:15px;
    margin-top: 20px;
}

.menu ul{
    display:flex;
    list-style-type:none;
    background-color: lavenderblush;
    justify-content: space-evenly;
    border-radius: 10px;
}
.contenu{
    display: flex;
}

.contenu-principal{
    background-color:lightpink;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

.contenu-secondaire{
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
    text-align:center;
    margin-top:10px;
}

.footer{
    background-color:thistle;
    text-align:center; 
    padding:10px;
    margin-top:10px;
}
.header1{
    background-color:paleturquoise;
    text-align: center;
    padding: 20px;
}
.menu1 ul{
    display: flex;
    list-style-type: none;
    background-color:mediumaquamarine;
    justify-content: space-evenly;
    border-radius: 10px;
}
.menu1 li{
    padding: 17px;
}
.menu1 li:hover{
    background-color:aquamarine;
}
.contenu1{
    display: flex;
}
.contenu-créa1{
    background-color:cornflowerblue;
    padding: 10px;
    border-radius: 10px;
    margin-top:10px;
}
.contenu-secondaire1{
    background-color:cadetblue;
    padding: 20px;
    border-radius: 10px;
    margin-top:10px;
    border-style: dashed;
}
.header2{
    background: linear-gradient(90deg, #8360c3,#87e087);
    text-align: center;
    padding: 20px;
}
.menu2 ul{
    display: flex;
    list-style-type: none;
    background-color:darksalmon;
    justify-content: space-evenly;
    border-radius: 10px;
}
.menu2 li{
    padding: 17px;
}
.menu2 li:hover{
    background-color:peachpuff;
}
.image1{
    display:flex;
}

.paragraphe{
    text-align: left;
    border-width: 20px;
    padding: 20px;
    border-radius: 20px;
    background-image: url("Images/coccinelle_cafe.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    width:100%;
    opacity:0.7;
    color:aliceblue;
}
.texte{
   text-align: left;
   padding: 20px;
   border-radius: 20px;
   background-image: url("Images/Bold coffee.JPG");
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 1000px;
   width:100%;
   opacity:0.7;
   color:aliceblue;
}
.lieu{
    background-color:lightcoral;
    padding:20px;
    border-radius: 15px;
    margin-top: 15px;
}
.bas{
    background-color:brown;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    border-radius:10px;
}
.contenu-activité1{
    display: flex;
}