:root {
    --x: 0px;

    --background-color: hsl(0, 0%, 5%); //10 => 90
    --font-color: hsl(166, 65.1%, 97%); //95 => 5
    --font-85-color: hsl(0, 0%, 85%);
    --font-70-color: hsl(0, 0%, 70%);
    --font-50-color: hsl(0, 0%, 50%);
    --font-15-color: hsl(0, 0%, 15%);
    --main-color: hsl(166, 65.1%, 58.4%); //41.6 => 58.4
    --tertiaire-color: hsl(14, 65.1%, 58.4%); //41.6 => 58.4

    --background-1-color: hsl(0, 0%, 7%);
    --transparent-blurry-color: rgba(0, 117, 108, 0.5);
    --transparent-blurry-weak-color: rgba(0, 117, 108, 0.1);
}

body {
    background-color: var(--background-color);
}

.accueil-holder {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    top: 0px;
    height: 100vh;
    //background-image: url('../assets/w14bg.png');
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: 100vw;
    overflow: visible;
    .bg-acc{
        width: 100vw;
        mask-image: linear-gradient(0deg, transparent,white);
    }
    .bg-mask-acc {
        position: absolute;
        left: 0px;
        width: 100vw;
    }
    .text-acc {
        display: flex;
        position: absolute;
        width: 100%;
        height: 55vh;
        align-items: start;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-size: clamp(5rem, 25vh, 15rem);
    }
}
/*----------------------------------------------General----------------------------------------------*/
* {
    scrollbar-color: var(--font-50-color) transparent;
}

.text-container {
    backdrop-filter: blur(5px);
    height: 25vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--transparent-blurry-weak-color);
    border: solid 1px var(--main-color);
    color: var(--font-color);
    padding: 15px;
    .head {
        font-size: 2rem;
        font-family: "Anton";
        margin: 25px;
        color: var(--font-85-color);
    }
    .para {
        color: var(--font-70-color);
        margin: 0px 25px 25px 25px;
        font-family: "Roboto";
        font-weight: 500;
    }
}

.p0 {
    font-size: large;
    font-weight: 600;
    font-family: "Roboto";
    color: var(--font-color);
}
.p1 {
    font-size: medium;
    font-family: "Roboto";
    color: var(--font-70-color);
    font-weight: 400;
}
/*----------------------------------------------Home----------------------------------------------*/

.home-root {
    overflow: hidden;
    .visible { //navbar
        animation: show 0.1s forwards;
    }
    .unvisible {
        animation: unshow 0.1s forwards;
    }
    .navbar {
        transform: translateY(-80px);
        position: fixed;
        z-index: 2;
        top: 0px;
        left: 0px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 80px;
        padding-left: 15px;
        align-items: center;
        .brand {
            margin-top: 15px;
            margin-left: 15px;
            align-items: center;
            display: flex;
            .brand-name {
                text-decoration: none;
                display: flex;
                left: -15px;
                color: var(--font-color);
                font-size: 1.25rem;
                font-family: "Roboto";
            }
        }
        .buttons {
            display: flex;
            gap: 10px;
            margin: 10px 25px 10px 10px;
            align-items: center;

            .light-switcher {
                position: relative;
                display: flex;
                margin-left: 10px;
                width: 40px;
                height: 40px;
                background-color: transparent;
                border-radius: 5px;
                justify-content: center;
                align-items: center;
                .moon {
                    fill: var(--font-color);
                    stroke: none;
                }
                .sun {
                    stroke: var(--font-color);
                    fill: var(--font-color);
                }

                &:hover {
                    background-color: var(--font-color);
                    .moon {
                        fill: var(--background-color);
                    }
                    .sun {
                        fill: var(--background-color);
                        stroke: var(--background-color);
                    }
                }
            }
            .button {
                font-family: "Roboto";
                border-radius: 3px;
                display: flex;
                border: none;
                position: relative;
                padding: 5px 15px 5px 15px;
                background-color: transparent;
                color: var(--font-color);
                align-items: center;
                justify-content: center;
                font-size: 1.25rem;
                &::before {
                    display: flex;
                    z-index: 1;
                    position: absolute;
                    content: attr(data-text);
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;
                    height: 150%;
                    color: var(--font-15-color);
                    background-color: var(--main-color);
                    animation: navbar-button-animation-reversed 250ms both reverse cubic-bezier(0.64, 0.17, 0.67, 1.53);
                }
                &:hover {
                    color: white;
                    cursor: pointer;
                    &::before {
                        animation: navbar-button-animation-hover 250ms both cubic-bezier(0.64, 0.17, 0.67, 1.53); 
                    }
                }
            }
        }
    }
    /*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-Section 1-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
    .accueil {
        align-items: center;
        justify-content: center;
        position: relative;
        display: flex;
        top: 0px;
        height: 100vh;
        //background-image: url('../assets/w14bg.png');
        background-color: var(--background-color);
        background-repeat: no-repeat;
        background-size: 100vw;
        overflow: visible;
        .arrow {
            display: flex;
            z-index: 1;
            position: absolute;
            left: calc(50% - 75px / 2);
            width: 75px;
            stroke: var(--font-color);
            bottom: 0;
            animation: floating-arrow 1s ease infinite alternate;
            &:hover {
                cursor: pointer;
            }
        }
    }
    /*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-Section 2-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
    .milestones {
        width: 100vw;
        background-color: var(--background-color);
        display: flex;
        height: 200vh;
        justify-content: center;
        .milestones-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 60vw;
        }
        .milestones-title {
            display: flex;
            color: var(--font-color);
            font-size: 5rem;
            width: calc(60vw - 30px);
            margin: 15px;
            background-color: var(--background-1-color);
            border-radius: 5px;
            padding: 15px;
        }
        .container-1 {
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: 15px;
            align-items: center;
            .milestones-scroller-container {
                width: 100%;
                height: 100%;
                grid-row: 1/3;
                background-color: var(--background-1-color);
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                display: flex;
                .milestones-scroller {
                    height: 65vh;
                    width: 10px;
                    border-radius: 3px;
                    background-color: var(--font-15-color);
                    margin-right: 15px;
                    .scircle {
                        height: 5vh;
                        width: 100%;
                        border-radius: 3px;
                        background-color: var(--main-color);
                    }
                }
                .date-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 65vh;
                    p {
                        color: var(--font-15-color);
                        width: 5rem;
                        font-family: "Anton";
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.5rem;
                    }
                }
                .active {
                    animation: milestones-grad-0 500ms ease both;
                } 
                .unactive:has(+ .active) {
                    animation: milestones-grad-1 500ms ease both;
                }
                .unactive {
                    animation: milestones-grad-2 500ms ease both;
                }
                .active + .unactive {
                    animation: milestones-grad-1 500ms ease both;
                }
            }
            .milestones-div-shower {
                display: flex;
                height: 75vh;
                grid-row: 1/3;
                .milestones-div-container {
                    display: grid;
                    grid-template-rows: 3fr 1fr;
                    width: 100%;
                    border-radius: 5px;
                    gap: 15px;
                    .milestones-image {
                        width: 50vw;
                        border-radius: 5px;
                        background-size: cover;
                    }
                    .milestones-para {
                        font-family: "Roboto";
                        display: flex;
                        padding: 25px;
                        font-size: 1rem;
                        color: var(--font-color);
                        background-color: var(--transparent-blurry-color);
                        backdrop-filter: blur(25px);
                        border-radius: 5px;
                    }
                }
            }

        }
    }
    /*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-Section 3-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
    .W14 {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //background-color: var(--background-color);
        .W14-introduction-container {
            width: 100vw;
            height: 200vh;
            position: relative;
            .W14-introduction {
                position: relative;
                display: flex;
                width: 100vw;
                height: 100vh;
                .W14-video {
                    width: 100vw;
                    height: auto;
                    object-fit: cover;
                }
                .cache {
                    scale: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100vh;
                    width: 100vw;
                    #sub {
                        pointer-events: none;
                        fill: var(--background-color);
                    }
                }
            }
            .W14-introduction-text-container {
                top: 170vh;
                left: calc((50vw - 30px) / 2);
                position: absolute;
                height: 25vh;
                width: 50vw;
                .W14-introduction-h {
                    display: flex;
                }
                .W14-introduction-p {
                    display: flex;}
            }
        }
        .W14-image-container {
            display: flex;
            position: relative;
            width: 100vw;
            height: 71vh;
            margin: 0px 0px 100px 0px;
            align-items: center;
            justify-content: center;
            .W14-image-wrapper {
                .W14-image {
                    width: 125vw;
                    display: flex;
                }
            }
            .W14-features-container {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(4, 1fr);
                width: 60vw;
                height: 50vh;
                bottom: 0px;
                right: 10vw;
                position: absolute;
                .W14-feature {
                    list-style: none;
                    display: flex;
                    border: solid 1px var(--main-color);
                    color: rgb(255, 255, 255);
                    align-items: center;
                    justify-content: center;
                    margin: -0.5px;
                    font-family: "Roboto";
                    background-color: var(--transparent-blurry-weak-color);
                    backdrop-filter: blur(3px);
                    .first-feature-container {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                    }
                    .arrow {
                        stroke-width: 1px;
                        height: 5vh;
                        transform: rotate(270deg);
                        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                        text-decoration: none;
                        color: var(--font-color);
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.25) rotate(270deg);
                        }
                    }
                    &:nth-child(1) {
                        grid-row: 4;
                        grid-column: 1 / 3;
                        border-radius: 10px 0px 0px 10px;
                    }
                    &:nth-child(2) {
                        grid-row: 4;
                        grid-column: 3 / 5;
                    }
                    &:nth-child(3) {
                        grid-row: 4;
                        grid-column: 5;
                    }
                    &:nth-child(4) {
                        grid-row: 4;
                        grid-column: 6;
                        border-radius: 0px 0px 10px 0px;
                    }
                    &:nth-child(5) {
                        grid-row: 2 / 4;
                        grid-column: 5 / 7;
                    }
                    &:nth-child(6) {
                        grid-row: 1;
                        grid-column: 5 / 7;
                        border-radius: 10px 10px 0px 0px;
                    }
                }
            }
        }
    }
    /*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-Section 4-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
    .update {
        .update-intro-wrapper {
            display: flex;
            position: relative;
            width: 100vw;
            height: 50vh;
            align-items: center;
            justify-content: center;
            gap: 50px;
            .update-icon-container {
                transform: translateX(-40vw);
                width: 16vw;
                height: 16vw;
                background-color: transparent;
                border-radius: 1000px;
                display: flex;
                align-items: center;
                justify-content: center;
                .update-icon {
                    width: 15vw;
                    height: 15vw;
                    fill: var(--main-color);
                }
            }
            .update-title {
                font-size: 10vw;
                color: var(--main-color);
            }
        }
        .update-inner-wrapper {
            background-color: var(--background-color);
            display: flex;
            width: 100vw;
            align-items: center;
            justify-content: center;
            position: relative;
            .update-container {
                display: grid;
                width: 75vw;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 40vh);
                gap: 15px;
                padding: 25px;
                margin-bottom: 20vh;
                .update-info {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    display: flex;
                    align-items: end;
                    transition: 100ms ease;
                    position: relative;
                    &:hover {
                        transform: scale(1.01) rotate(1deg);
                        cursor: pointer;
                        border: solid 1px var(--main-color);
                    }
                    .description {
                        font-family: "Roboto";
                        display: flex;
                        width: 100%;
                        background-color: var(--transparent-blurry-color);
                        backdrop-filter: blur(5px);
                        padding: 15px;
                        border-radius: 5px;
                        font-size: 1rem;
                    }
                    .etiquette-container {
                        position: absolute;
                        top: 0px;
                        display: flex;
                        gap: 0.5vh;
                        .etiquette {
                            background-color: var(--transparent-blurry-color);
                            backdrop-filter: blur(5px);
                            border-radius: 5px;
                            font-size: 1rem;
                            font-family: "Roboto";
                            color: var(--font-color);
                            padding: 10px 25px 10px 25px;
                            margin: 1vh 0vh 1vh 1vh;
                            background-color: var(--transparent-blurry-color);
                        }
                    }
                    &:nth-child(1) {
                        background-size: cover;
                        grid-column: 1/3;
                    }
                    &:nth-child(2) {
                        background-size: cover;
                        grid-row: 1/3;
                        grid-column: 3;
                    }
                    &:nth-child(3) {
                        background-size: cover;
                    }
                    &:nth-child(4) {
                        background-size: cover;
                    }
                    &:nth-child(5) {
                        background-size: cover;;
                    }
                    &:nth-child(6) {
                        background-size: cover;
                        grid-column: 2/ 4;
                    }
                    &:nth-child(7) {
                        background-size: cover;
                    }
                    &:nth-child(8) {
                        background-size: cover;
                    }
                    &:nth-child(9) {
                        background-size: cover;
                    }
                }
            }
            .update-arrow-container {
                position: absolute;
                width: 50px;
                height: calc(100% - (20vh + 25px));
                bottom: calc(20vh + 10px);
                background-image: linear-gradient(transparent 50%, var(--background-color) 99%);
                display: flex;
                width: 100vw;
                justify-content: center;
                align-items: end;
                pointer-events: none;
                .arrow {
                    height: 50px;
                    stroke-width: 1px;
                    animation: floating-arrow 1s alternate both infinite;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }   
        }
    }

    .layout-button-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        .layout-button {
            color: var(--font-85-color);
            text-decoration: none;
            display: flex;
            width: fit-content;
            height: fit-content;
            padding: 10px 15px 10px 15px;
            background-color: var(--font-15-color);
            border-radius: 5px;
            margin: 15px;
            transition: 100ms ease;
            &:hover {
                cursor: pointer;
                background-color: var(--main-color);
                color: var(--font-15-color);
            }
        }
    }
    /*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-Section 5-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
    .sponsor {
        .sponsor-wrapper {
            display: flex;
            position: relative;
            width: 100vw;
            height: 50vh;
            background-color: var(--background-1-color);
            align-items: center;
            justify-content: center;
            .sponsor-scroller-container {
                display: flex;
                flex-direction: column;
                height: 50vh;
                align-items: center;
                justify-content: center;
                position: relative;
                .sponsor-scroller-1 {
                    position: absolute;
                    top: 0;
                    display: flex;
                    width: 100vw;
                    transform: translateX(100vw);
                    margin-top: 15vh;
                    .sponsor-scroller-1-holder-1 {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        .sponsor-img {
                            margin: 0px 15px 0px 15px;
                            height: 5vh;
                        }
                    }
                    .sponsor-scroller-1-holder-2 {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        transform: translateX(100vw);
                        .sponsor-img {
                            margin: 0px 15px 0px 15px;
                            height: 5vh;
                        }
                    }
                }
                .sponsor-scroller-2 {
                    position: absolute;
                    bottom: 10vh;
                    display: flex;
                    width: 100vw;
                    height: 10px;
                    transform: translateX(100vw);
                    margin-bottom: 10vh;
                    .sponsor-scroller-2-holder-1 {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        .sponsor-img {
                            margin: 0px 15px 0px 15px;
                            height: 5vh;
                        }
                    }
                    .sponsor-scroller-2-holder-2 {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        transform: translateX(100vw);
                        .sponsor-img {
                            margin: 0px 15px 0px 15px;
                            height: 5vh;
                        }
                    }
                }
            }
            .sponsor-mask {
                position: absolute;
                display: flex;
                top: 0px;
                width: 100vw;
                height: 50vh;
                background-image: 
                linear-gradient(90deg, var(--background-color) 0%,transparent 20%, transparent 80%,var(--background-color) 100%),
                linear-gradient(0deg, var(--background-color),transparent,var(--background-color));
            }
        }
    }
}

/*----------------------------------------------keyframes----------------------------------------------*/      
@keyframes milestones-grad-0 {
    to {
        color: var(--main-color);
        font-size: 2rem;
    }
}
@keyframes milestones-grad-1 {
    to {
        color: var(--font-50-color);
        font-size: 1.75rem;
    }
}
@keyframes milestones-grad-2 {
    to {
        color: var(--font-15-color);
        font-size: 1.5rem;
    }
}
@keyframes scroller-animation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes main-button-animation {
    from {
    }
    to {
        color: var(--font-color);
        background-color: var(--tertiaire-color);
    }
}
@keyframes secondary-button-animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
@keyframes floating-arrow {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
}
@keyframes show {
    from {
        transform: translateY(-80px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes unshow {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-80px);
    }
}
@keyframes navbar-button-animation-hover {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}
@keyframes navbar-button-animation-reversed {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}

/*---------------------------------------------- Media Queries ----------------------------------------------*/    

@media (max-width: 1500px) {
    .text-acc  {
        font-size: 16vh !important;
        height: 35vh !important;
    }
}