@use './Home.scss';


.navbar {
    transform: translateY(0px);
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    //background-color: var(--background-color);
    height: 80px;
    padding-left: 15px;
    align-items: center;
    .brand {
        margin-top: 15px;
        margin-left: 15px;
        align-items: center;
        display: flex;
        .brand-name {
            text-decoration: none;
            display: flex;
            left: -15px;
            color: var(--font-color);
            font-size: 1.25rem;
            font-family: "Roboto";
        }
    }
    .buttons {
        display: flex;
        gap: 10px;
        margin: 10px 25px 10px 10px;
        align-items: center;

        .light-switcher {
            position: relative;
            display: flex;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            background-color: transparent;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            .moon {
                fill: var(--font-color);
                stroke: none;
            }
            .sun {
                stroke: var(--font-color);
                fill: var(--font-color);
            }

            &:hover {
                background-color: var(--font-color);
                .moon {
                    fill: var(--background-color);
                }
                .sun {
                    fill: var(--background-color);
                    stroke: var(--background-color);
                }
            }
        }
        .button {
            font-family: "Roboto";
            border-radius: 3px;
            display: flex;
            border: none;
            position: relative;
            padding: 5px 15px 5px 15px;
            background-color: transparent;
            color: var(--font-color);
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;
            &::before {
                display: flex;
                z-index: 1;
                position: absolute;
                content: attr(data-text);
                overflow: hidden;
                align-items: center;
                justify-content: center;
                height: 150%;
                color: var(--font-15-color);
                background-color: var(--main-color);
                animation: navbar-button-animation-reversed 250ms both reverse cubic-bezier(0.64, 0.17, 0.67, 1.53);
            }
            &:hover {
                color: white;
                cursor: pointer;
                &::before {
                    animation: navbar-button-animation-hover 250ms both cubic-bezier(0.64, 0.17, 0.67, 1.53); 
                }
            }
        }
    }
}

.layout-root{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .layout-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .Layout {
            display: grid;
            gap: 10px;
            height: 75vh;
            width: 50vw;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            .brick {
                border-radius: 5px;
                display: flex;
                align-items: end;
                background-size: cover;
                background-position: center;
                font-family: "Roboto";
                background-color: white;
                overflow: hidden;
                &:hover {
                    cursor:help;
                    div {
                        transform: translateY(0%);
                    }
                }
                div {
                    transition: 100ms ease;
                    transform: translateY(100%);
                    font-family: "Roboto";
                    display: flex;
                    width: 100%;
                    background-color: var(--background-color);
                    color: var(--font-85-color);
                    padding: 15px;
                }
            }
            .brick-React {
                grid-column: 1 / 3;
                grid-row: 1 / 3;
                background-image: url("https://dwglogo.com/wp-content/uploads/2017/09/1460px-React_logo.png");
            }
            
            .brick-Youtube {
                grid-column: 3 / 5;
                grid-row: 1 / 2;
                background-image: url("https://www.youtube.com/img/desktop/yt_1200.png");
            }
            
            .brick-GSAP {
                grid-column: 3 / 5;
                grid-row: 2;
                background-image: url("https://logowik.com/content/uploads/images/t_greensock-gsap4425.logowik.com.webp");
            }
            
            .brick-JSX {
                grid-column: 1 / 3;
                grid-row: 3;
                background-image: url("https://media2.dev.to/dynamic/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2F07k51e03ol1yulm0gq23.png");
            }
            
            .brick-SCSS {
                grid-column: 4;
                grid-row: 3/ 5;
                background-image: url("https://media2.dev.to/dynamic/image/width=800%2Cheight=%2Cfit=scale-down%2Cgravity=auto%2Cformat=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fsz97k9suaryv0xn9v6r0.jpg");
            }
            
            .brick-Emmet {
                background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBDprvL6FZrJICUqFmqQUyQ3mqKqddeGXw4w&s");
            }
            
            .brick-ChatGPT {
                background-image: url("https://blog.logomyway.com/wp-content/uploads/2023/08/chatgpt-logo.png");

            }
            .brick-HTMLCSSJS {
                grid-column: 2/4;
                grid-row: 4;
                background-image: url("https://www.pikpng.com/pngl/b/150-1506141_javascript-logo-png.png");
                background-size: auto 100%;
                background-repeat: no-repeat;
            }
        }
        .home-button-return {
            color: var(--font-85-color);
            text-decoration: none;
            display: flex;
            width: fit-content;
            height: fit-content;
            padding: 10px 15px 10px 15px;
            background-color: var(--font-15-color);
            border-radius: 5px;
            margin: 15px;
            transition: 100ms ease;
            &:hover {
                cursor: pointer;
                background-color: var(--main-color);
                color: var(--font-15-color);
            }
        }
    }
}