
.menu {
    background-color: rgb(93, 163, 255);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}
.menu li{
    list-style-type:none;
    flex-basis: 270px;
    text-align: center;
    font-family: "Pacifico", cursive;
}
   
.menu a {
    display: block;
    justify-content: space-between;
    font-size: 150%;
    background-color:  rgb(180, 225, 255);
    padding : 1rem;
    text-decoration: none;
    color:azure;
}
.menu a:hover {
    color:rgb(255, 238, 241);
    background-color:rgb(255, 248, 249);
}


body {
    background-color:rgb(255, 255, 255)
    
}

.main {
    display: flex;
    padding-left: 320px;
}
.texte {
    font-size: 75px;
    font-family: "Pacifico", cursive;
    text-align: center;
    padding: 100px;
    color:rgb(3, 64, 141);
    
}

.bio {
    color: rgb(0, 117, 194);
    font-size: 30px;
    -webkit-text-stroke-color: 2px black;
    width: 50%;
    font-family: "Pacifico";
    text-align: left;
    box-shadow: 15px 15px 5px rgb(214, 239, 255);
    padding-left: 50px;
    margin:left;
    background-color: rgb(243, 249, 255);
    border-radius: 50px;

}
.image-biographie {
    padding-left: 50px;
}
.conteneur {
    display: flex;
}

.amis1 {
    padding-left: 100px;
    display: flex;

}
.amis2{
    padding-left: 100px;
    display:flex;
}  
.hellokitty {
    font-family:"Pacifico", cursive;
    text-align: center;
    color: rgb(242, 152, 144);
    font-size: 30px;
}

.hellokitty:hover {
    transform: scale(1.1);
}


.mymelody {
    font-family:"Pacifico", cursive;
    text-align: center;
    color: rgb(246, 163, 182);
    font-size: 30px;
}

.mymelody:hover {
    transform: scale(1.1);
}

.cinnamonroll {
    font-family:"Pacifico", cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(153, 201, 237);
}

.cinnamonroll:hover {
    transform: scale(1.1);
}

.kuromi {
    font-family:"Pacifico", cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(202, 176, 210);
}
.kuromi:hover {
    transform: scale(1.1);
}

.Keroppi {
    font-family:"Pacifico", cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(172, 202, 144) ;
}

.Keroppi:hover {
    transform: scale(1.1);
}

.Pompompurin {
    font-family:"Pacifico", cursive;
    text-align: center;
    font-size: 30px;
    color:rgb(251, 237, 153) ;
}

.Pompompurin:hover {
    transform: scale(1.1);
}

.Chococat {
    font-family:"Pacifico", cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(244, 166, 129);
}

.Chococat:hover {
    transform: scale(1.1);
}

.Ponchaco {
    font-family:"Pacifico", cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(239, 154, 142);
}

.Ponchaco:hover {
    transform: scale(1.1);
}

.Jumelles {
    font-family:"Pacifico", cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(244, 165, 185);
}

.Jumelles:hover {
    transform: scale(1.1);
}

.Badtz {
    font-family:"Pacifico", cursive;
    text-align: center;
    font-size: 30px;
    color:rgb(89, 92, 91) ;
}
.Badtz:hover {
    transform: scale(1.1);
}

.texteamis {
    font-family:"Pacifico", cursive;
    font-size: 150%;
    text-align: center;
    color: rgb(93, 163, 255);

}

.source-boutique a {
    width:50%;
    color:rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px;
    background-color:rgb(164, 220, 255);
}

.source-boutique a:hover {
    background-color: rgb(209, 235, 255);
}