header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: darkslategray;
    z-index: 999;

}

header .container {
    display:flex;
    width: 100%;
    height: 110px;
    border-color: darkslategray;
}
header .container .container2 {
    display:flex;
    justify-content: left;
    background-color: darkslategray;
    width: 100%;
    height: 110px;
    border-color: darkslategray;
}


header .collapsible {
    width:100%;
    background-color: darkslategray;
    border-color: darkslategray;
    cursor:pointer;
    border-style: none;
}

header .active, .collapsible:hover {
    background-color: lightgray;
}
header .contentcollapsible {
    display:flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
}

header .contentcollapsible a {
    background-color: lightgray;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color:black;
    

}
header .contentcollapsible a:hover {
    background-color: rgb(177, 177, 177);
    color: rgb(131, 131, 131);

}

body {
    background-color: gray;
    margin: 0 0;
    padding-top: 80px ;
    padding-bottom: 120px;
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
   /* https://www.youtube.com/watch?v=US_3XvufMLU*/
}

.content {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    border-radius: 25px;
    color:white;
    background-color: darkslategray;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.content1 {
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;
    color:white;
    background-color: darkslategray;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.fullcontent_motif_1 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    color:black;
    background-image: url(image/background_img_1.png);
    height:auto;
    width: 100%;
    padding-left: 100px;
}

.fullcontent_motif_1_1 {
    align-items: center;
    margin-top: 50px;
    color:black;
    height:100%;
    width: 50%;
    padding-left: 100px;
}

.fullcontent_motif_1_2 {
    width: 50%;
    height: 100%;   
}

.fullcontent_motif_1 img {
    background-color:aqua;
    border-radius: 50%;
}

.fullcontent_motif_2 {
    padding-left: 25%;
    color:rgb(255, 255, 255);
    background-image: url(image/background_img_2.png);
    background-size: auto;
    padding-right: 25%;

}

.fullcontent_motif_2 a {
    font-style: normal;
    color:red;
}

.contentmain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    border-radius: 25px;
    color:white;
    background-color: darkslategray;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.contentmain .latestnews1 {
    margin:20px;
    background-color: white;
    border-radius: 25px;
    background-image: url(image/techfest.png);
    background-size: cover;
    --fade-amount: 25%;
    mask-image: linear-gradient(to bottom, transparent, black,      /* https://youtu.be/Ca8L8iqnmdw */
    var(--fade-amount), black calc(100% - var(--fade-amount)),
    transparent);
    padding:20px;

}

.contentmain .latestnews2 {
    margin:20px;
    background-color: white;
    border-radius: 25px;
    background-image: url(image/kyurem_precious_path.png);
    background-size: cover;
    --fade-amount: 25%;
    mask-image: linear-gradient(to bottom, transparent, black,      /* https://youtu.be/Ca8L8iqnmdw */
    var(--fade-amount), black calc(100% - var(--fade-amount)),
    transparent);
    padding:20px;

}
.contentmain .latestnews3 {
    margin:20px;
    background-color: white;
    border-radius: 25px;
    background-image: url(image/new_year_event.png);
    background-size: cover;
    --fade-amount: 25%;
    mask-image: linear-gradient(to bottom, transparent, black,      /* https://youtu.be/Ca8L8iqnmdw */
    var(--fade-amount), black calc(100% - var(--fade-amount)),
    transparent);
    padding:20px;

}
.contentmain .latestnews4 {
    margin:20px;
    background-color: white;
    border-radius: 25px;
    background-image: url(image/city_safari.png);
    background-size: cover;
    --fade-amount: 25%;
    mask-image: linear-gradient(to bottom, transparent, black,      /* https://youtu.be/Ca8L8iqnmdw */
    var(--fade-amount), black calc(100% - var(--fade-amount)),
    transparent);
    padding:20px;

}
.contentmain .latestnews5 {
    margin:20px;
    background-color: white;
    border-radius: 25px;
    background-image: url(image/save_dates_for_2026.png);
    background-size: cover;
    --fade-amount: 25%;
    mask-image: linear-gradient(to bottom, transparent, black,      /* https://youtu.be/Ca8L8iqnmdw */
    var(--fade-amount), black calc(100% - var(--fade-amount)),
    transparent);
    padding:20px;

}
.content .contentpokemon {
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 124, 124);
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    padding:5px
    
}
.content .contentpokemon h2 {
    text-align: center;
    margin: 5px;
}
.content .contentpokemon h4 {
    text-align: center;
    margin: 5px;
}

footer {
    background-color: darkslategray;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;

}

.type {
    display:flex;
    width:fit-content;
    height:fit-content;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding-top:5px;
    margin:auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.type .poison {
    background-color: purple;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .grass {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .water {
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .fire {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .flying {
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .bug {
    background-color: olive;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .normal {
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .electric {
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
    color:black;
}
.type .ground {
    background-color: sienna;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .fighting {
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .psychic {
    background-color: violet;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .rock {
    background-color: tan;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .ghost {        
    background-color: indigo;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .ice {
    background-color: cyan;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .dragon {
    background-color: darkblue;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}
.type .steel {
    background-color: lightslategray;
    padding: 10px;
    border-radius: 10px;
    margin:4px;
}

.bodyapt{
    background-color:pink ;
}

.titreapt {
    text-align:center;
 
    padding: 10px;
    border-radius: 50px;
}

.sous-titreapt{

    border-radius: 20px;
}

.principaleapt{
    display:flex
 
}

.paroleapt{
    width: 80%;
    background-color:plum;
    border-radius: 15px;

    
}

.contactapt{
    width: 20%;
    border-radius: 15px;
    background-color: blueviolet;
}

.contactapt ul{
    list-style-type: none;
}

.contactapt li{
    padding: 10px;
}


.photosapt img{
    width: 300px;
    height: 300px;
    padding: 24px;
}

