html {
  height: 100%;
  width: 100%;
}

.fond_index {
  background-image: url(https://www.aeroportlimoges.com/fileadmin/user_upload/voyages-2.jpg);
  background-size: cover;
  text-align: center;
  padding: 16px;
  font-family: cursive;
}

.titre {
  font-size: 100px;
  letter-spacing: 2px;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menue {
  list-style-type: none;
  background: linear-gradient(90deg, #cce8b5, #f1c9fe);
  display: flex;
  border-style: solid;
  justify-content: space-evenly;
  margin: 0px;
}

.menue :hover {
  background-color: #e0edd4;
  border: 1px solid #b1dd8c;
}


.contenu {
  background-color: #FDEFF6;
  padding: 20px;
  border-style: dotted;
  font-family: American Typewriter, serif;
  margin: 0px;

}

.Monument_Parthenon {
  margin-right: 2cm;
  text-align: center;
}

.Monument_Theatre {
  margin-right: 2cm;
  text-align: center;
}

.texte_Andorre {
  display: flex;
  text-align: center;
  border-radius: 20px;
  background-color: yellowgreen;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px black;
}

.image_Andorre {

  text-align: center;
  background-color: darkgreen;
  border-radius: 60px;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px black;
}

.lien_Andorre {
  text-align: center;
  border-color: lightgreen;
  background-color: darkgreen;
  border-radius: 60px;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px black;
}

.lien_Andorre_2 {
  display: flex;
  text-align: center;
  border-radius: 20px;
  border-color: lightgreen;
  background-color: greenyellow;
  padding: 10px;
  box-shadow: 5px 5px 5px black;
}

.fond_Grece {
  background-image: repeating-linear-gradient(fuchsia, lightblue, lightgreen, lightyellow, lightgreen, lightblue, fuchsia);
  text-align: center;

}

.p_Grece {
  display: flex;
  padding: 40px;
  margin-bottom: 30px;
}

.phartenon_1 {
  display: flex;
  text-align: center;
  padding: 40px;
  margin-bottom: 30px;
}

.image_fond_A {
  background-image: url(http://www.e-voyageur.com/sites/default/files/section-img/des-paysages-a-couper-le-souffle.jpg);
}

.fond_Andorre {
  border-style: dashed;
  text-align: center;

}

.fond_Lituanie {
  background: linear-gradient(180deg, #f1c9fe, #b1dd8c, #f1c9fe);
  text-align: center;
  border-style: double;
  color: #263e0f;
}

.image_Lituanie {
  text-align: center;
  background-color: #77bb41;
  border-radius: 100px;
  padding: 10px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 5px black;

}