.header {
    text-align: center;
    background-image: url("plage-langley-resort-fort-royal_546098_pgbighd.jpg.avif");
    background-size: cover;
    padding: 200px;
    height: 150px;
    color: white;
    font-family: 'Brown Rosemary', sans-serif;
    border: 1em solid #FFF59D;      
}

.menu ul {
    background-color: #B2DFDB;
    color:#FFF59D;
    display: flex;
    list-style-type: none;
    border-radius: 40px;
}

.menu a {
    color:#FFF59D;
    text-decoration: none;    
}

.menu li {
    padding: 30px;
}

.menu li:hover {
    background-color: darkcyan;
}

.contenu {
    display: flex;
}

.contenu-principal {
    background-color: #FFF9C4;
    padding: 10px;
    color: #004D40;
    box-shadow: 10px 5px 5px;
}

.header2 {
    text-align: center;
    height: 50px;
    padding: 100px;
    color: #FBC02D;
    background-color: #FFF9C4;
    font-family: 'Brown Rosemary', sans-serif;
    border-radius: 40px;
}

.contenu-principal2 {
    background-color: #B2DFDB;
    padding: 50px;
    list-style: none;
    color:#263238;
    margin: 0;
    border: 1em solid #FFF59D;
}

.contenu-principal3 {
    text-align: center;
    border: 1em solid #FFF59D;
    box-shadow: 10px 5px 5px grey;
}

.contenu-secondaire3 {
    text-align: center;
    list-style: none;
}

.contenu-principal5 {
    background-color: #B2DFDB;
    padding: 50px;
    list-style-type: none;
    color:#263238;
    margin: 0;
}

.contenu-secondaire5{
    background-color:#DEFFC7;
    padding: 10px;
}
.contenu-secondaire51 {
    background-color:#F9FAA2 ;
    padding: 10px;
}

.header3 {
    text-align: center;
    height: 50px;
    padding: 100px;
    color: #FBC02D;
    background-color: #FFF9C4;
    font-family: 'Brown Rosemary', sans-serif;
    border-radius: 40px;
}

.header4 {
    text-align: center;
    height: 50px;
    padding: 100px;
    color: #FBC02D;
    background-color: #FFF9C4;
    font-family: 'Brown Rosemary', sans-serif;
    border-radius: 40px;
}

.contenu-principal4 {
    background-color: #FFF9C4;
    padding: 10px;
    color: #004D40;
    box-shadow: 10px 5px 5px;   
}

.header5 {
    text-align: center;
    height: 50px;
    padding: 100px;
    color: #FBC02D;
    background-color: #FFF9C4;
    font-family: 'Brown Rosemary', sans-serif;
    border-radius: 40px;
}

.logo {
    width: 150px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
} 

.no-puces{
    list-style: none;
}