.entete {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #aadcf7, #034ff3);
}

h1 {
  color: rgba(244, 11, 11, 0.893);
}

body {
  color: rgba(112, 47, 1, 0.893);
}

.menu ul {
  background: linear-gradient(90deg, #aadcf7, #034ff3);
  color: rgb(243, 1, 1);
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu li {
  padding: 8%;
}

a {
  text-decoration: none;
  color: rgb(243, 1, 1);
}

.menu li:hover {
  background-color: rgb(87, 43, 5);
}

.contenu {
  display: flex;
  gap: 20px;
}

.contenu-principal {
  background-color: bisque;
  padding: 20px;
}

.entete2 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(53, 50, 49);
  color: rgb(100, 27, 27);
}

.entete2 h1 {
  color: rgb(107, 51, 20);
}

body {
  color: rgba(112, 47, 1, 0.893);
}

.menu2 ul {
  background-color: rgb(53, 50, 49);
  color: rgb(77, 32, 0, 0.893);
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu2 li {
  padding: 8%;
}

.menu2 a {
  text-decoration: none;
  color: rgb(107, 51, 20);
}

.menu2 li:hover {
  background-color: rgba(95, 7, 7, 0.5);
}

.contenu {
  display: flex;
  gap: 20px;
}

.contenu-principal {
  background-color: bisque;
  padding: 20px;
}

.entete3 {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #aadcf7, #034ff3);
}

.entete3 h1 {
  color: rgba(255, 255, 255, 0.9);
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(40, 47, 46);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.menu3 ul {
  background: linear-gradient(to bottom, #c89a4c, #969292);
  color: rgb(188, 135, 106);
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu3 li {
  padding: 8%;
}

.menu3 li:hover {
  background-color: rgb(255, 200, 0);
}

.entete4 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);

}

.entete4 h1 {
  color: rgb(84, 54, 44, 0.9);
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(40, 47, 46);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.menu4 ul {
  background-color: rgb(0, 0, 0);
  color: rgb(188, 135, 106);
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu4 li {
  padding: 8%;
}

.menu4 li:hover {
  background-color: rgba(255, 252, 250, 0.5)
}

a2 {
  text-decoration: none;
  color: rgb(243, 1, 1);
}

a {
  text-decoration: none;
  color: rgb(243, 1, 1);
}

a {
  text-decoration: none;
  color: rgb(243, 1, 1);
}