.header{
    color:rgb(250, 250, 233);
    background-color: #f18f06;
    text-shadow: 5px 5px 3px #ffb217;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}   
.nav {
  background-color: #ffcc66 ;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 15px;
}


.nav li {
  list-style-type: none; 
  flex-basis: 120px;
  text-align: center;
  margin: 0 1rem;
}


.nav a {
  display: block;
  padding: 0.3rem;
  background-color: #ffcc66;
  text-decoration: underline;
  color: #ffffff;
  text-shadow: 5px 5px 3px #ffb217;

}

.History{
    color:rgb(0, 0, 0);
    background-color: #FBF4EA;
    text-shadow: 5px 5px 3px #efddca;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

.FirstT {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #FBF4EA;
    height: 50vh;
    flex-direction: row;
}

.FirstT div {
    width: 500px;
    height: 300px;
    margin: 50px;
    background-color: #FBF4EA;
   
}

.Turkey {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #FBF4EA;
    height: 50vh;
    flex-direction: row;
}

.Turkey div {
    width: 500px;
    height: 400px;
    margin: 50px;
    background-color: #FBF4EA;
}

.Ours {
     color:rgb(0, 0, 0);
    background-color: #FBF4EA;
    text-shadow: 5px 5px 3px #efddca;
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 5px;
}



.quirks {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: #FBF4EA;
    height: 75vh;
    overflow:unset;
    flex-direction: row;
}

.quirks div {
    width: 270px;
    height: 600px;
    margin: 200px;
    background-color: #FBF4EA;
    border-width: 10px;
    border-color: #ffb217;
}

.groove {
   background-color: #FBF4EA;
}
.bingo {
    background-color: #FBF4EA;
}

.DT {
    background-color: #FBF4EA;
    text-align: center;
}

.turke {
    background-color: #FBF4EA;
    text-align: center;
}

.Dessert {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: #FBF4EA;
    height: 50vh;
    overflow:unset;
    flex-direction: row;
   }
.Dessert h1 {
    text-decoration: underline;
}

.Dessert div {
    width: 200px;
    height: 300px;
    margin: 100px;
    background-color: #FBF4EA;
    border-width: 10px;
    border-color: #ffb217;
}

.con {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}