.recettes {
  font-family: Baskerville, sans-serif;
  line-height: 1;
  margin: 10px;
}

body {
  font-family: Baskerville, sans-serif;
}

head {
  font-family: Baskerville, sans-serif;
}

/* Définit les propriétés de la classe menu */
.menu {

  background: linear-gradient(90deg, #831100, #000000);
  border-radius: 5px;
  padding: 0;
  display: flex;
  justify-content: right;
  margin-right: 10px;

}

/* Définit les propriétés des éléments li dans la classe menu */
.menu li {
  list-style-type: none;
  /* Enlève les puces */

  text-align: center;
  margin: 5px;
  border-radius: 20px;
}

/* Définit les propriétés des liens dans la classe menu */
.menu a {
  display: block;
  padding: 0.5rem;
  background-color: white;
  text-decoration: none;
  color: #111;
  border-radius: 10px;

}

/* Définit les propriétés des liens survolés dans la classe menu */
.menu a:hover {
  color: black;
  background-color: #aaaaaa;
  border-color: #000000;
}


.accueil {
  text-align: center;
  background-color: #d6d6d6;
  border-radius: 5px;

}





.index {

  background-color: #d6d6d6;
  justify-content: left;

}


.index li {
  flex-basis: 120px;
  text-align: left;
  margin: 30 rem;
  border-radius: 10px;
  font-size: 50px;
  height: 150px;
}


.index a {
  display: block;
  padding: 0.5rem;

  text-decoration: none;
  color: #111;

}

.index a:hover {
  padding: 30px;
  background-color: #c0c0c0;

}

.h1index {
  margin: 15px;
  border-radius: 5px;
  background: #aaaaaa;
  padding: 5px
}

.pindex {
  margin: 15px;
  border-radius: 5px;
  background: #aaaaaa;
  padding: 5px
}

.h1contact {
  background: #aaaaaa;
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
}

.contact {
  background-color: #ffffff;
  text-align: center;
}

.pcontact {
  background-color: gray;
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
}

.image {
  border-radius: 10px;
  text-align: center;
  background: lightgray;
  margin: 5px;
  padding: 16px;
  margin-left: 125px;
  margin-right: 125px;


}

.ingrédient {
  margin: 15px;
  border-radius: 5px;
  background: lightgray;
  padding: 5px
}


.h1 {
  margin: 15px;
  border-radius: 5px;
  background: gray;
  padding: 5px
}

.instruction {
  margin: 15px;
  border-radius: 5px;
  background: lightgray;
  padding: 5px;
}

kbd.key {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
  margin: 5px;
  background-color: #ebebeb;
  box-shadow: 6px 6px 10px rgba(0, 0, 2, 0.7);

}