.header1 {
    text-align: center;
    background-color: rgb(39, 103, 20);
    color: rgb(245, 208, 62);
    padding: 16px;
    
}

.menu1 ul{
    background-color: rgb(39,103,20);
    color: rgb(245, 208, 62);
    display: flex;
    list-style-type: none;
    border-radius: 40px;

}
a:hover {
    background-color: rgb(44, 145, 13) ;
}

.menu1 li{
    padding: 20px;
    color: rgb(245, 208, 62);
}

.menu li:hover{
    background-color:rgb(39, 103, 20) ;
    
}

.contenu{
    display: flex;
    background-color: rgb(39, 103, 20);
    color: rgb(245, 208, 62);
    
}

.contenu-principal{
    background-color: rgb(39, 103, 20);
    padding: 10px;
    color: rgb(245, 208, 62);
    text-align: center;
}

.header2 {
    text-align: center;
    background-color: rgb(39, 103, 20);
    color: rgb(245, 208, 62);
    padding: 16px;

}


.carte {
    background-color:rgb(39, 103, 20); ;
    padding-left: 300px ;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.contenulocal {
    color:rgb(245, 208, 62) ;
    background-color: rgb(39,103,20);
    text-align: center;
    border-radius: 20px;
    
}

.contenu-principal1 {
background-color: rgb(39, 103, 20);
text-align: center;
}

.contenu-principal1{
    background-color:rgb(39, 103, 20);
    text-align: center;
    
}

.logo{
    background-position: center;
    
}
.texte{
    background: linear-gradient(90deg, #e7ea48, #29652a);
}
.resto{
    width: 100%;
}

.filet{
    width: 300px;
    height: 300px;
}

.adeo{
    width: 100%;
}
.header{
    background-color: rgb(39,103,20)
}

