h1 {
    text-align: center;
    font-family: fantasy;
    color: rgb(10, 9, 9);
    font-size: 40px;
}

h3 {
    text-align: center;
    font-family: fantasy;
}


.accueil p {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}


.nourriture p {
    text-align: left;
    font-family: fantasy;
}


.accueil {
    background-image: url(https://static.vecteezy.com/system/resources/previews/046/588/463/non_2x/trendy-aesthetic-abstract-seamless-pattern-with-geometric-print-minimalistic-organic-brush-stroke-ink-texture-simple-design-for-wallpaper-textile-wrapping-packing-fabric-branding-decoration-vector.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: rgb(8, 8, 8);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu ul {
    font-family: monospace;
    background-color: rgb(4, 1, 4);
    color: rgb(10, 9, 9);
    display: flex;
    list-style-type: none;
    padding: 16px;
    justify-content: space-evenly;
    border-radius: 20px;
}

a {
    color: rgb(251, 251, 251);
    text-decoration: none;
}


.nourriture {
    background-image: url(https://img.freepik.com/free-vector/linear-flat-abstract-lines-pattern_23-2148953514.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: rgb(12, 9, 6);
    min-height: 100vh;
    padding: 20px;
}


.nourriture .texte {
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.avis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 40px 0;
}

.images-centre {
    display: flex;
    gap: 15px;
}


.images-centre img {
    width: 260px;
    height: 200px;
    margin: 0;
}


.avis {
    width: 260px;
    background-color: #eeeeee;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.instagram-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.instagram-icon:hover {
    transform: scale(1.2);
}


