body {
    background: linear-gradient(90deg, #FEAC5E, #C779D0, #4BC0C8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    .boite1 {
        color:aliceblue;
        
    }
    .menu1 {
        background-color:rgb(224, 236, 246);
        margin : 20px;
        padding:50px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: larger;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        
    

    }

    .menu1:hover{
        background-color:#89cfd4;
    }
    .boite2{
        background-color: #C779D0;
        display: flex;
        justify-content: space-between;
        padding: 35px;
        border-radius: 15px;
        

    }
    .titre1{ 
        color: aliceblue;
        text-align:center;   
        
    }
    .titre1:hover{
        color: #FEAC5E;
    }

    .boutton1 img{
        width :80px;
        height: auto;
        cursor: pointer;
        border-radius: 20px;
        margin:20px;

    }

    .titre2{
        text-align: center;
        color: aliceblue;
    }
    .titre2:hover{
        color: #4BC0C8;
    }

    .boite3{
        background-color: rgb(239, 159, 202);
        border-radius: 15px;
        margin: 20px;
        padding:15px;
        color: aliceblue;
        font-size:x-large;
    
    }

    .boite4{
        display: flex;
        background-color: aquamarine;
        margin:20px;
        padding: 15px;
        border-radius: 15px;
        
    }
    .boite4 img {
        border-radius: 15px;
    }


    .boite5{
        flex: 1;
        background-color: rgb(167, 209, 226);
        color:black;
        margin:20px;
        padding: 15px;
        border-radius: 15px;
        width:75%;
        text-align: left;
        font-size: x-large;
        
       
        
    }
    .boite6{
        display: flex;
        background-color: aquamarine;
        margin:20px;
        padding: 15px;
        border-radius: 15px;
    }
    
    .boite6 img{
        border-radius: 15px;
    }

    .boite7{
        flex: 1;
        background-color:rgb(167, 209, 226);
        color:black;
        margin:20px;
        padding: 15px;
        border-radius: 15px;
        width:75%;
        text-align: left;
        font-size: x-large;
        
    }

    .boite8{
         display: flex;
        background-color: aquamarine;
        margin:20px;
        padding: 15px;
        border-radius: 15px;
    }
    
    .boite8 img{
        border-radius: 15px;
    }

    .boite9{
        flex: 1;
        background-color: rgb(167, 209, 226);
        color:black;
        margin:20px;
        padding: 15px;
        border-radius: 15px;
        width:75%;
        text-align: left;
        font-size: x-large;
        
    }
    
    .boite10{
         display: flex;
        background-color: aquamarine;
        margin:20px;
        padding: 15px;
        border-radius: 15px;
    }
    
    .boite10 img{
        border-radius: 15px;
    }

    .boite11{
        flex: 1;
        background-color: rgb(167, 209, 226);
        color:black;
        margin:20px;
        padding: 15px;
        border-radius: 15px;
        width:75%;
        text-align: left;
        font-size: x-large;
        
    }

    .titre3{
        color: aliceblue;
        text-align:center; 

    }
    
    .titre3:hover{
        color: #c263cd;
    }

    .boite12 {
        background-color: aliceblue;
        color:deeppink;
        font-size:larger;
        margin: 20px;
        padding:15px;
        border-radius: 15px;
    }
    .liste1 {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        background-color:#c48ccb;
        text-align: center;
        font-size: larger;
        padding: 15px;
        border-radius: 15px;
        margin:25px;
        color: aliceblue;
    }

    .contact1:hover{
        color:#4BC0C8;
    }
    .contact2:hover{
        color:#b957c4;
    }
    .contact3:hover{
        color:#FEAC5E;
    }
    .titre4 {
        text-align: center;
        color:aliceblue;
    }
    .image1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 400px;
        margin-top: -100px;
    }








}
