* {
  margin: 0;
  padding: 0;
}
p { 
  text-align: justify; 
}

.screen {
  width: 100vw;
  height: 13vh;
  background-color: rgb(238, 238, 238);
}
.Button_Container {
  height: 100px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.ab {
  flex: 1;
}

.Button_Conseils,
.Button_Calculateur,
.Button_Accueil {
  width: 100%;       
  height: 100%;      
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.Button_Calculateur:hover,
.Button_Conseils:hover,
.Button_Accueil:hover {
  background-color:rgb(136,135, 135)
}

.texte_calculateur_button,
.texte_conseils_button,
.texte_accueil_button {
    font-size: 20px;
}

.titre_centre {
  text-align: center;
}

p {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.centre {
  margin-left: 20px;
  margin-right: 20px;
}

.bloc {
  width: 45%;
  padding: 15px;
  margin: 40px 0;
  border-radius: 40px;
  background-color: rgb(225, 225, 225);
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.408);
}



.droite {
  margin-left: auto;
  margin-right: 40px;
}

.gauche{
  margin-left: 40px;
}
