.menu{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(171,169,169);
    font-size: 20px;
}
.titre ul{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(171, 169, 169);
    padding: 10px;
    border-radius: 10px;

}
h1{
    text-align: center;
    margin-top: 50px;
}
.titre2{
    font-size: 24px;
    
}
body{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210124/pngtree-white-marble-texture-background-image_540744.jpg);

}




/*echec*/
.dispositionbloc{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

}
.bloc1{
    padding: 20px;
}
.bloc2{
   
    padding: 20px;
    background-image: url(https://img.freepik.com/photos-premium/arriere-plan-marbre-gris-noir_38607-649.jpg);
    color: white;
    border-radius: 30px;
}

.grp1images{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.img1{
    padding: 20px;
    mask-image: radial-gradient(circle, black 5%, transparent 100%);
        border-radius:  100px;
}
.img2{
    padding: 20px;
mask-image: radial-gradient(circle, black 5%, transparent 100%);
    border-radius:  100px;
}

.grp2images{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.img3{
    padding: 20px;
mask-image: radial-gradient(circle, black 5%, transparent 100%);
    border-radius: 100px;
}
.img4{
    padding: 20px;
    mask-image: radial-gradient(circle, black 5%, transparent 100%);
    border-radius:  100px;
}




/*dame*/
.dispositiontexte{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

}

.regledame{
    padding: 20px;
}

.damier{
    padding: 20px;
    padding-top: 40px;
}

.video{
    display: flex;
    justify-content: center;
}



/*morpion*/

.board{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 10px;
    margin: 0 auto;
}
.cell {
    font-family: "Archivo Black", sans-serif;
    background-color: gray;
    border: 2px solid #333;
    color: black;
    display: flex;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
background-color: rgb(61, 61, 61);
}
