body{
    background-color:rgb(186, 140, 230);
    color: rgb(0, 36, 168);
    text-align:left
    
}

.header{
    color:rgb(0, 0, 0);
    background-color:rgb(0, 36, 168);
    text-align: center;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    border-color: rgb(169, 90, 169);
    border-width: 23px;
    border-style: dotted;

}


img{
    padding: 10px;
    border-radius: 30px;
}

.pangolin{
    background-color: rgb(0, 36, 168);
    text-align: center; 
    width: 250px;
    color:rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 50px;
    margin-right: 35px;
    margin-left: 120px;
      

}

.Pieuvre{
     background-color: rgb(0, 36, 168);
     text-align: center; 
     width: 250px;
     border-radius: 30px;
     color:rgb(255, 255, 255);
     margin-bottom: 50px;
     margin-right: 35px;
     

}

.Arbre{
    background-color: rgb(0, 36, 168);
    text-align: center; 
    width: 250px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    margin-right: 35px;
}

   
.ratonlaveur{
    background-color: rgb(0,36, 168);
    text-align: center;
    width: 250px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 50px;
    margin-right: 35px;
    margin-left: 120px;


}

.sagouin{
    background-color: rgb(0, 36, 168);
    text-align: center;
    width: 250px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 50px;
    margin-right: 35px;

}

.caillou{
    background-color: rgb(0, 36, 168);
    text-align: center;
    width: 250px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    margin-right: 35px;

}

.ligne{
    display:flex
}

.bulle{
    background-color: rgb(169, 90, 169);
    border-radius: 40px;
    box-shadow: 10px 5px 5px rgb(0, 36, 168);

}