.header{
    color:rgb(186, 140, 230);
    text-align: center;



    

}

body{
    background-color:rgb(0, 36, 168);
}

.contexte{
    background-color:rgb(186, 140, 230);
    border-radius:40px;
    margin:20px;
    padding: 20px;

}

.image{
    text-align: center;
    border-left-width: 1000px;
   
}
.soustitre{
    color:rgb(186, 140, 230);


}

.bulle{
    background-color: rgb(169, 90, 169);
    border-radius: 40px;
    border-width: 12px;
    box-shadow: 10px 5px 5px rgb(186, 140, 230);

}