body{
    background-color:rgb(0, 36, 168)
}
.block1{
    background-color: rgb(186, 140, 230);
    display: flex;
    border-radius: 30px;
    margin-bottom: 23px;
    padding: 23px;

} 

.block2{
    display: flex;
    background-color: rgb(186, 140, 230);
    border-radius: 30px;
    margin-bottom: 23px;
    padding: 23px;
    
}

.block3{
    display:flex;
    background-color: rgb(186, 140, 230);
    border-radius: 30px;
    margin-bottom: 23px;
    padding: 23px;
}

.block4{
    display: flex;
    background-color: rgb(186, 140, 230);
    border-radius: 30px;
    margin-bottom: 23px;
    padding: 23px;
}

.block5{
    display:flex;
    background-color: rgb(186, 140, 230);
    border-radius: 30px;
    margin-bottom: 23px;
    padding: 23px;
}

.block6{
    display: flex;
    background-color: rgb(186, 140, 230);
    border-radius: 30px;
    margin-bottom: 70px;
    padding: 23px;
}

.header{
    color: rgb(186, 140, 230);
    text-align: center;
}

.soustitre{
    color:rgb(186, 140, 230)
   
}

.contexte{
    color: rgb(186, 140, 230);
}
.pangolin{
    padding: 23px;
    border-radius: 30px;
    background-color: rgb(169, 90, 169);
}

.pieuvre{
    padding: 23px;
    border-radius: 30px;
    background-color: rgb(169, 90, 169);
}
.Arbre{
    padding: 23px; 
    border-radius: 30px;
    background-color: rgb(169, 90, 169);
}
.ratonlaveur{
    padding: 23px; 
    border-radius: 30px;
    background-color: rgb(169, 90, 169);
}
.sagouin{
    padding: 23px; 
    border-radius: 30px;
    background-color: rgb(169, 90, 169);

}
.caillou{
    padding: 23px; 
    border-radius: 30px;
    background-color: rgb(169, 90, 169);
}

.bulle{
    background-color: rgb(169, 90, 169);
    border-radius: 40px;
    box-shadow: 10px 5px 5px rgb(186, 140, 230);

    
}
