<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeMarks</title>
    <link rel="shortcut icon" href="/static/image/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='image/logo-without-font.png') }}" alt="Logo Safemarks" class="logo-image" href="">
                <a href="">SafeMarks</a>
            </div>
            <div>
                <ul class="nav-links">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('services') }}">Services</a></li>
                    <li><a href="{{ url_for('about') }}">About us</a></li>
                    <li><button type="button" onclick="location.href='/login'">Login</button></li>
                </ul> 
            </div>           
        </nav>
    </header>
    <div class="main-content">
        <div class="aboutus">
            <h1>About <span>Us</span></h1>
            <div class="desc">
                <div class="img">
                    <img src="/static/image/aboutus.jpg" alt="About Us Image" >
                </div>
                <div class="text-content">
                    <h2>We are SafeMarks</h2>
                    <p>Our legacy is to simplify the boring process of calculating the average or just reminding the marks.</p>
                    <p>We are just two stutents who want to do a great IT project.</p>
                </div>
            </div>
        </div>
    
        <div class="team">
            <h1>Our Team</h1>
            <div class="widgets">
                <div class="team-member">
                    <img src="/static/image/member1.jpg" alt="Team Member 1">
                    <h3>Arthur Frésard</h3>
                    <p>All in one</p>
                </div>
                <div class="team-member">
                    <img src="/static/image/member2.jpg" alt="Team Member 2">
                    <h3>Nathan Combes</h3>
                    <p>All in one</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="footer-section">
                <h4>SafeMarks</h4>
                <p>Manage your grades securely and easily.</p>
            </div>
            <div class="footer-section">
                <h4>Contact Us</h4>
                <ul class="contact-info">
                    <li>
                        <a href="mailto:arthur.fresard@eduvaud.ch">
                            <img src="/static/image/email.png" alt="Email Icon" class="icon">
                            Arthur Frésard
                        </a>
                    </li>
                    <li>
                        <a href="mailto:nathan.combes@eduvaud.ch">
                            <img src="/static/image/email.png" alt="Email Icon" class="icon">
                            Nathan Combes
                        </a>
                    </li>
                    <li>
                        <img src="/static/image/location.png" alt="Location Icon" class="icon">
                        Sévelin 44, Lausanne, Switzerland
                </ul>
            </div>
            <div class="footer-map">
                <iframe 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.101039498856!2d6.6146066767521825!3d46.5228323621855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c31d6762a23bf%3A0x55d4bae36aa20735!2sAv.%20de%20S%C3%A9velin%2044%2C%201004%20Lausanne!5e1!3m2!1sfr!2sch!4v1733520585109!5m2!1sfr!2sch"
                            width="400" 
                            height="300" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
            </div>    
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 SafeMarks. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>