.header {
    text-align: center; 
    background-color:rgb(144, 203, 255) ;
    padding: 1px ;
}
.liens ul {
    background-color: rgb(65, 121, 199);
    list-style-type: none;
    display: flex;


a {
    text-decoration: none;
    color: black;

}

}
.liens li:hover{
    background-color: rgb(144, 203, 255)
   }
.liens li{
    padding: 16px
}
.titre {
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: rgb(0, 203, 244) 1px 0 4px;
    padding: 1px;
}
.mail {
    background: linear-gradient(#9198e5, #e66465 );
    background-color: rgb(144, 203, 255);
padding: 20px;
}

.contact {
    background-color: rgb(65, 121, 199);
    
    
}

.real {background-color: rgb(65, 121, 199);
padding: 1px;
text-align: center;

}

.dex {
    background: linear-gradient(#e664a1, #285bae);
    background-color: rgb(144, 203, 255);
    padding: 1px;
    
}

.liensa {

    text-align: center;
    background-color: rgb(65, 121, 199);
    padding: 16px

}

.message{

    text-align: center;
}

.image {background-size: 150px;
    width: 30px;
    height: 3000px;
}
.infos {

    background: linear-gradient(#9198e5, #e66465);
    padding: 30px;

}

.titre2 {
    color: rgb(0, 0, 0);
    text-align: center;
    
    padding: 1px;
}
    

.mail2 {
    
    background-color: rgb(144, 203, 255);
padding: 20px;

}
    
.tarif {
    display: flex;
    flex-direction: column;
}
