/* partie commune aux 3 pages */

body {
    background-color: #FBF0E9;
    color: #AD9C92;
}

#menu_header {
    background-color: #D4C2A1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 20px;
    padding-left: 20px;
}

.menu_header {
    font-size: 32px;
    list-style: none;
    padding: 30px;
}

#round {
    background-color: #805050;
    border-radius: 10px;
}

a {
    color: #805050;
    text-decoration:none;
}

#menu {
    display: flex;
    flex-direction: row;
}


/* partie acceuil*/

#rouleau {
    background-color: #CE8F8A;
    color: #FBF0E9;
    height: 100px;
    display: flex;
    align-items: center;
}

#rouleau_anim {
    animation-name: rouleau;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes rouleau {
    0% {translate: -100%;}
    100% {translate: 200vw}
}

.title {
    text-decoration: underline;
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

span {
    font-size: 50px;
    color: #CE8F8A;
    text-shadow: 5px 1px 5px #805050;
}

/* partie juste prix*/

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box_game {
    margin-top: 10px;
    width: 500px;
    background: linear-gradient(to bottom right,#D4C2A1,#CE8F8A);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
}

form {
    width: 100%;
}

input {
    background-color: #D4C2A1;
    border-radius: 10px;
    border: 0px;
    height: 30px;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}


.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}


#check_button, #restart_button{
    margin: 5px;
    background-color:#805050;
    color: #D4C2A1;
    border: 0;
    border-radius: 5px;
    font-size: xx-large;
    
}

#check_button:hover, #restart_button:hover{
    background-color: #CE8F8A;
    cursor:pointer;
    box-shadow: 5px 5px 2px grey;
}

#tentatives, #timer {
    font-size:xx-large;
    color: #D4C2A1;
}

/* partie réaction */


#fire {
    background-color: black;
    width: 50%;
    aspect-ratio: 5;
    display: flex;
    margin: 50px;
}

.circles {
    background-color: red;
    width: 10%;
    height: 50%;
    margin: 5%;
    border-radius: 100%;
}

#react_game {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #805050;
    text-align: center;
}

#time {
    font-size: xx-large;
    
}