.h1{
    text-decoration: underline;
    

}

body{

    background-color: rgb(49, 116, 134);
    font-family: Antique system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(87, 87, 87);

}

.header{
    background-color:rgb(255, 195, 98);
    
    padding:10px;
    border-radius: 20px;
    display:flex;
    justify-content:space-between;
    box-shadow: 20px 10px 10px rgb(19, 79, 144)

  
    
    
}
.header2{
    background-color:rgb(223, 125, 39) ;
    padding:20px;
    margin:80px;
    text-align:start;
    border-radius:20px;


    
}
.headermenu{
    display:flex;
    background-color:rgb(255, 195, 98);
    
    padding:10px;
    border-radius: 20px;
    box-shadow: 20px 10px 10px rgb(19, 79, 144)

}

.contenu{
    background-color:rgb(223, 125, 39);

    margin:40px;
    padding:20px;
    border-radius: 20px;
}
.contenu1{
    padding:10px;
    margin:30px;
    background-color:rgb(255, 195, 98);
    border-radius: 20px;
    text-align: center;

}
.contenu2{
    padding:20px;
    margin:30px;
    background-color:rgb(255, 195, 98);
    border-radius: 20px;
    text-align: center;
}

.titre{
    background-color: rgb(255, 195, 98);
    text-align:center;
    border-radius:10px;

    display:flex;
     box-shadow: 20px 10px 10px rgb(19, 79, 144)
}
.menu{
    background-color:rgb(223, 125, 39);
    border-radius: 10px;
    
}
.italique{
    font-style: italic;
}
.imagess{
    margin: 35px;
    align-items: center;
    display:flex;
    justify-content: center;

   
}
.fournisseur{
    display:flex;
    justify-content: center;
}