body { 
    background-color:lightsalmon; 

} 

    .menu ul { 
        display: flex; 
        list-style-type: none; 
        background-color:darksalmon; 
        justify-content: space-evenly; 
        border-radius: 500px; 

    } 

    .menu li { 
        padding: 20px; 

    } 

    .menu li:hover { 
        background-color:bisque; 

    } 

    .menu a { 
        color:black; 
        text-decoration: none; 

    } 

    h1 { 
        font-family:Comic Sans MS;
        
    } 
    
    .titre { 
        text-align: center; 

    } 

    

    p { 
        line-height: 28px; 
        font-size: 22px; 
        padding: 65px; 


    } 

    img { 
        width:400px;
        padding: 25px;
        display: block;
        margin:auto;
        box-shadow:inset 0 0 15px rgba(0, 0, 0, 0.5);

    }

