li{
    text-align: center;
}
h1{
    text-align: center;
}
.menu li{
    list-style-type: none;
    padding: 30px;
    font-size: 200%;
    width: 40px;
    margin:auto;
    text-align: center;
    
}
p{
    text-align: center;
    font-size: large;
}
.menu li:hover{
    background-color: darkblue;
}
h2{
    text-align: center;
}
.images{
    margin: auto;
    width: 250px;
    
}
.link{
    font-size: 30px;
    color: green;
    font-weight: bold;


}