html {
  height: 100%;
  width: 100%;
}
.musée {
  background-image: url(images/Claude_Monet,_Impression,_soleil_levant.jpeg);
  background-size: cover
}
.header {
  text-align: center;
  background-color:aliceblue;
  padding: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header h3 {
  color: black;
}


h2, h4 {
  
    color : white;
  }


.tableaux ul {
  background-color: aliceblue;
  display: flex;
  list-style-type: none;
  border-radius: 10px;

}

.tableaux li {
  padding: 16px;
}

.tableaux li:hover {
  background-color: #bddfff;
}

.monet img {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 16px;
}

.monet {
  display: flex;
}

  p {
      padding: 10px;
      color: white;
    }

.musée_ISL {
  background-image: url(images/Claude_Monet,_Impression,_soleil_levant.jpeg);
  background-image-opactity: 50%;
  background-size: cover
}

.header_ISL_PDW {
  text-align: center;
}

.header_ISL_PDW h1 {
  color: white;
}

.header_ISL_PDW img {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 16px;
}

.contenu_ISL_PDW p, h3 {
  color: white;
}

.contenu_ISL_PDW {
  text-align: center;
}

.retour {
  opacity: 70%;
}

.retour:hover {
  opacity: 100%;
}

.musée_PDW {
  background-image: url(images/301604.jpg);
  background-image-opactity: 50%;
  background-size: cover
}

