.entete {  
  background-size: contain;
  background-position: center;
}

body {
  background-color: grey;
  text-align: center;
}

.titre {
  padding: 20px;
  text-align: center;
  color: darkred;
}

.footer {
  text-align: center;
}

footer img {
  display: block;
  margin: auto;
}

.largeur { 
  font-weight: bold;
  color: orange;
}


}
.titre {
  color: darkblue;
  text-align: center;
  
}
.intro {
 color: deepskyblue;
}
.paragraph {
  
}
.menu1 {
  background-color: #333;
  padding: 10px;
  text-align: left;
  
}

.menu1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
   display: flex;
   align-items: center;
}

.menu1 li {
  margin: 0 15px;
}

.menu1 a {
  display: block;
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu1 a:hover {
  background-color: #ddd;
  color: black;
}
.reseaux{
  align-items: center;
}
.voitures {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
  padding: 20px;
  margin-top: 30px;
}


.voiture {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.voiture  {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}

.voiture  {
  font-size: 14px;
  color: #666;
}


.car {
  width: 100%;
  max-height: 250px;
  object-fit: cover; 
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}


.car:hover {
  transform: scale(1.1);
}