.header {
    text-align: center;
    color: white;
    padding: 20px;

}

.body_page1 {
    background-image: url(IMG_4232.jpeg);
    background-size: cover
}

.menu ul {
    background-color: lightgray;
    color: black;
    display: flex;
    list-style-type: none;
    border-radius: 40px;
    padding: 10px;
}

.menu li {
    padding: 10px;
}

.menu li:hover {
    background-color: gray;
}


.image ul {}

.head {
    text-align: center;
    color: white;
    padding: 20px;
}

.contenu {
    display: flex;
}

.contenu1 {
    color: white;
    font-size: 20px;
    margin-right: 15px;
    text-align: justify;


}

.contenu2 {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    text-align: justify;

}


.images {
    display: flex;


}

.image1 {
    text-align: left;
    margin-right: 15px;
    margin-top: 10px;

}

.image2 {
    text-align: right;
    margin-left: 15px;
    margin-top: 25px;

}

.gallerie {
    text-align: center;
    color: black;
    padding: 20px;
}


.body_page2 {}

.biographie {
    color: black;
    text-align: center;
    padding: 20px;
}

.body_page5 {
    background-color: #d6efff;
    background-size: cover
}

.contact {
    color: black;
    text-align: center;
    padding: 20px;
}

.body_page2 {
    background-color: #d6efff;
    background-size: cover
    }