.html, body {
    background-color: beige;
}

.biographie {
    display: flex;
}

.biographie p {
    text-align: left;
    width: 70%;
    background-color: rgba(68, 89, 19, 0.862);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px rgba(47, 62, 11, 0.862);
    
}

.menu ul {
    background-color:rgba(255, 162, 162, 0.498);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 5px;
    justify-content: space-evenly;

}

.menu li {
    list-style-type: none; 
    text-align: center;
    padding: 15px;
  
}

.menu li:hover {
    background-color: rgba(206, 131, 131, 0.498);

}

.biographie img {
    margin-left: 30px;
    width: 90%;

}

.timbres img{
    width: 310px;
    height: 320px;
    margin-left: 30px;
    margin-top: 100px;
}


.menu a{
    color: black;
    text-decoration: none;
}

.titre {
    background-color: rgba(68, 89, 19, 0.862);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: 6px dotted rgba(47, 62, 11, 0.862);
}

.itinéraire {
    display: flex;
}

.itinéraire img {
    margin-left: 30px;
    border-radius: 10px;
}

.texteitinéraire {
    background-color:rgba(68, 89, 19, 0.862);
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px rgba(47, 62, 11, 0.862)
}

.bouton a {
    color: black;
    text-decoration: none;
}

.imagespay img {
    margin-right: 85px;
    margin-top: 20px;
    height: 500px;
    width: 900px;

}

.imagespay img:hover {
    transform: scale(1.2);
}

