body {
  margin: 0px;
  background-color: lightgray;
}

.image_titre {
  text-align: center;
  background-color: white;
}

h1 {
  text-align: center;
  background-color: white;
  margin-top: 0px;
  margin-top: 0px;
}



.barre-menu ul {
  display: flex;
  list-style-type: none;
  background-color: #555;
  justify-content: space-evenly;
}

.barre-menu li {
  padding: 16px;
  color: #000;
}

.barre-menu a {
  color: #fff;
  text-decoration: none;
}

.barre-menu li:hover {
  background-color: #999;
  padding: 16px;
}

.header {
  background-color: white;
}

h2 {
  text-align: center;
}

.txtaccueil {
  background-color: darkgrey;
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.images_accueil1 img {
  border-radius: 10px;
}

.images_accueil1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
  background-color: #0d0e1c;
}

.images_accueil2 img {
  border-radius: 10px;
}

.images_accueil2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
  background-color: #0f180c;
}

.FlexContainer {
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1050px;
  background-color: whitesmoke;
  height: 550px;
  overflow: auto;
  flex-direction: row;
  border-radius: 20px;
  margin: auto;
}

.FlexContainer ul {
  list-style-type: none;
}

.FlexContainer div {
  width: 720px;
  height: 500px;
  margin: 10px;
  background-color: lightslategrey;
  border-radius: 20px;
}

.contenu {
  margin-left: 20px;
  margin-right: 20px;
}

.footer {
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0px;
  margin-left: 0px;
}

.footer p {
  margin: 5px;
}

.bouffe {
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1000px;
  background-color: #ebebeb;
  height: 1000px;
  flex-direction: row;
  border-radius: 20px;
  margin: auto;
  padding-top: 20px;
  padding-right: 20px;

}

.bouffe ul {
  list-style-type: 100px;
}

.bouffe div {
  width: 720px;
  height: 1000px;
  margin: 10px;
  overflow: auto;
  border-radius: 20px;
  color: whitesmoke;
  background-image: url(images/image7.jpg)
}


.PULL {
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1050px;
  background-color: whitesmoke;
  height: 550px;
  overflow: auto;
  flex-direction: row;
  border-radius: 20px;
  margin: auto;
}

.PULL ul {
  list-style-type: none;
}

.PULL div {
  width: 720px;
  height: 500px;
  margin: 10px;
  background-color: lightslategrey;
  border-radius: 20px;
}

.LEGS {
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1050px;
  background-color: whitesmoke;
  height: 550px;
  overflow: auto;
  flex-direction: row;
  border-radius: 20px;
  margin: auto;
}

.LEGS ul {
  list-style-type: none;
}

.LEGS div {
  width: 720px;
  height: 500px;
  margin: 10px;
  background-color: lightslategrey;
  border-radius: 20px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.7em;
  font-family: arial;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}



th {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 15px;
  text-align: center;
}

td {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 15px;
  text-align: center;
}

.alligner-map {
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1050px;
  background-color: whitesmoke;
  height: 550px;
  overflow: auto;
  flex-direction: row;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.alligner-map ul {
  list-style-type: none;
}

.alligner-map div {
  width: 720px;
  height: 500px;
  margin: 10px;
  background-color: lightskyblue;
  border-radius: 20px;
}



.sommeil {
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background-image: url(images/image9.jpg);
  background-repeat: no-repeat;
  background-size: 2300px 500px;
}

.images img {
  border-radius: 10px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  background-color: grey;
  border-radius: 10px;
}

.conseil {
  justify-content: center;
  background-color: white;
  display: flex;
  border-radius: 20px;
  margin: 20px;
}