.menu ul {
  list-style-type: none;
  background-color: #fce964;
  display: flex;
  border-radius: 5px;
  scroll-margin-bottom: 5px;
}

.menu ul li {
  padding: 12px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu ul li:hover {
  background-color: #ffc73e;
}

body {
  background-image: url(imagehydre.png);
}

.firstpart {
  display: flex;
  border-radius: 5px;
  margin: 5px;
  background-color: #440804;
  padding: 12px;
  color: #c6d6c8;
}

.ensemble1 {
  display: flex;
  margin-top: 5px;
}

.secondpart {
  display: flex;
  border-radius: 5px;
  margin: 5px;
  background-color: #440804;
  padding: 12px;
  color: #c6d6c8;
}

.image1 {
  display: flex;
  border-radius: 5px;
  padding: 5px;
}

.heracles {
  display: flex;

  border-radius: 5px;
  padding: 5px;
}

.jason {
  display: flex;

  border-radius: 5px;
  padding: 5px;
}

.ulysse {
  display: flex;

  border-radius: 5px;
  padding: 5px;
}

.achille {
  display: flex;

  border-radius: 5px;
  padding: 5px;
}

.image2 {
  display: flex;
  border-radius: 5px;
  margin-top: 5px;
  background-image: url(test.png);
  padding: 52px;
  color: #c6d6c8;
}

.titre2 {
  border-radius: 5px;
  margin: 1px;
  background-color: #5c381b;
  padding: 1px;
  color: #d5ad0c;
  text-align: center;
}

.intro {
    border-radius: 5px;
    margin: 5px;
    background-color: #440804
    color: #c6d6c8;
}