.header {
    text-align : center;
    padding: 3px;
    background-color :lightpink
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li {
    padding: 10px;
}

.paragraphe {
    border: 2px pink dotted;
}

.contenu {
    border: 2px  pink dotted;
}
.absolute {
   position: absolute;
   top: 230px;
   left: 350px;
   width: 330px;
   border: 2px  pink dotted;
   text-align: center;
}
.relative {
   position: relative;
   left: 0px;
   width: 330px;
   border: 2px  pink dotted;
   text-align: center;
   
 }

.vertical {
width : 670px ;
border: 2px  pink dotted;
}

.vertical h3{
text-decoration: underline;
text-decoration-color: lightpink;
}

.absolute h3 {
text-decoration: underline;
text-decoration-color: lightpink ;
}

.relative h3 {
text-decoration : underline ;
text-decoration-color: lightpink;
}

.souligne h3 {
text-decoration: underline ;
text-decoration-color: lightpink;
}

.paragraphe {
   position: absolute;
   top: 230px;
   right: 270px;
   width: 250px;
   text-align: center;
}
.contenu {
   position: absolute;
   top: 430px;
   left: 275px;
   width: 250px;
   text-align: center;
}
.vincent {
   position: absolute;
   top: 200px;
   left: 280px;
   width: 250px;
   text-align: center;
}

.motivation {
   position: absolute;
   top: 720px;
   right: 270px;
   width: 250px;
   text-align: center;
}

.intro {
   position: absolute;
   top: 150px;
   right: 15px;
   width: 500px;
   text-align: center;
}

.gourde {
   position: absolute;
   top: 270px;
   right: 280px;
   width: 250px;
   text-align: center;
}

.brique{
   position: absolute;
   top: 270px;
   left: 270px;
   width: 250px;
   text-align: center;
}

.dictionnaire {
   position: absolute;
   top: 730px;
   right: 280px;
   width: 250px;
   text-align: center;
}

.licorne {
   position: absolute;
   top: 650px;
   left: 270px;
   width: 250px;
   text-align: center;
}

.panneau {
   position: absolute;
   top: 1180px;
   right: 280px;
   width: 250px;
   text-align: center;
}

.pistolet {
   position: absolute;
   top: 1030px;
   left: 270px;
   width: 250px;
   text-align: center;
}

.sono {
   position: absolute;
   top: 1400px;
   left: 270px;
   width: 250px;
   text-align: center;
}

.nutella {
   position: absolute;
   top: 1550px;
   right: 280px;
   width: 250px;
   text-align: center;
}

.fumée {
   position: absolute;
   top: 1850px;
   left: 280px;
   width: 250px;
   text-align: center;
}

.parachute {
   position: absolute;
   top: 1900px;
   right: 280px;
   width: 250px;
   text-align: center;
}

.conseil {
   position: absolute;
   top: 2230px;
   left: 10px;
   width: 500px;
   text-align: center;
}




