.titre{
    color:black;
    background-color:rgb(244, 105, 41);
    padding: 20px;
    text-align:center;
}

.img-titre {
    width:100px;
    float: right;
}

.contenu{
    color:antiquewhite;
    background-color:rgb(121, 64, 24);
    padding:10px;
    border-radius: 40px;
    margin: 30px;
}

body{
    background-color:rgb(241, 215, 184);
    margin:0;
}

.menu ul {
    background-color:rgb(180, 122, 77);
    color:white;
    padding:5px;
    justify-content: space-evenly;
    display: flex;
}

.menu ul li {
    padding: 16px;
}

.menu ul li:hover {
    background-color:rgb(121, 64, 24);
}

.recette1 {
    margin-left: 100px;
    margin-right: 300px;
}

.recette {
    display:flex;
}
.pied ul {
    justify-content: space-evenly;
    display: flex;
    padding:20px;
}

footer {
    color:antiquewhite;
    background-color:rgb(244, 105, 41);
}

.cinnamonrolls {
    color:antiquewhite;
    background-color:rgb(121, 64, 24);
    padding:10px;
    margin:30px;
    border-radius: 40px;
    text-align:center;
}

.temps {
  display: flex;              
  justify-content: center;
  gap: 15px;
}

.case {
  background-color:rgb(196, 126, 72);
  color:antiquewhite;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 30%;                
}

.instruction {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.bloc1 {
  background-color: rgb(161, 89, 33);
  color:antiquewhite;
  padding: 10px;
  border-radius: 10px;
  width: 47%;
  float:left;
}

.bloc2 {
  background-color: rgb(161, 89, 33);
  color:antiquewhite;
  padding: 10px;
  border-radius: 10px;
  width: 47%;
  float:right;
  text-align: center;
}




